<style>
.id_{{ section.id }}{
  padding:60px 0px;
  background-color:{{section.settings.bg_color}};

  }
   
.id_{{ section.id }} .container{
    max-width:1200px;
    width:100%;
    margin:0px auto;
}


.id_{{ section.id }} .content{
  text-align: center;
  max-width:800px;
  width:100%;
  margin:0px auto;
}
.id_{{ section.id }} .content h2{
    font-size: 40px;
    line-height: 130%;
    font-weight: 700;
    color: {{section.settings.text_color}};
    margin:0px 0px 30px 0px;
}  
  
.id_{{ section.id }} .content .des{
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: {{section.settings.text_color}};
    margin:0px 0px 20px 0px;
}    


  .id_{{ section.id }}  .content .btn{
    display: inline-block;
    text-decoration: none;
    transition-duration:.3s;
    background-color:{{section.settings.text_color}};
    color:{{section.settings.bg_color}};
     padding: 8px 24px;
    border: 1px solid {{section.settings.text_color}};
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    border-radius: 4px;
}
  .id_{{ section.id }}  .content .btn svg{
     fill:{{section.settings.bg_color}};
  }
 
.id_{{ section.id }}  .content .btn:hover{
    background-color: #ec7e8b;
     color:{{section.settings.bg_color}};
   border: 1px solid #ec7e8b;
}
    
@media(max-width:768px){

.id_{{ section.id }}{
   padding:40px 20px;
}


  .id_{{ section.id }} .content h2{
    font-size: 30px;
    margin:0px 0px 20px 0px;
} 
  
.id_{{ section.id }} .content .des{
    font-size: 16px;
    margin:0px 0px 20px 0px;
}    

  
}    

</style>

<section class="id_{{ section.id }}">
  <div class="container">
         <div class="content">
           {% if section.settings.title != blank %}
             <h2>{{ section.settings.title }}</h2>
             {% endif %}
           {% if section.settings.des != blank %}
              <p class="des">{{ section.settings.des }}</p>
             {% endif %}
                    {% if section.settings.btn_url != blank %}
                <a class="btn" href="{{ section.settings.btn_url }}">
                          <svg style="margin:0px 5px 0px 0px;" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="18" width="18" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
                          <path strokelinecap="round" strokelinejoin="round" d="M0 48A16 16 0 0 1 16 32H64a16 16 0 0 1 15.52 12.128L92.48 96H464a16 16 0 0 1 15.712 18.944l-48 256A16 16 0 0 1 416 384H128a16 16 0 0 1 -15.712 -13.056L64.32 115.424 51.52 64H16a16 16 0 0 1 -16 -16zM99.264 128l42.016 224h261.44l42.016 -224H99.264zM160 384a64 64 0 1 0 0 128 64 64 0 0 0 0 -128zm224 0a64 64 0 1 0 0 128 64 64 0 0 0 0 -128zm-224 32a32 32 0 1 1 0 64 32 32 0 0 1 0 -64zm224 0a32 32 0 1 1 0 64 32 32 0 0 1 0 -64z"/></svg>
                          {{ section.settings.btn_text }}
                      </a>
             {% endif %}
                        

      </div>
  </div>
</section>


{% schema %}
  {
    "name": "Forme Rich Text",
    "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title",
            "default":"See anything you like? Zilch it."
          },
          {
            "type": "textarea",
            "label": "Description",
            "id": "des",
            "default":"We have thousands of online stores with zero fees. And because we’re a Mastercard, you can shop absolutely anywhere else online with a fee of up to $3 for purchases over $10."
          },
            {
            "type": "text",
            "label": "Buttom Text",
            "id": "btn_text",
            "default":"Explore Brands"
          },
          {
            "type": "url",
            "label": "Buttom Url",
            "id": "btn_url"
          },
         {
         "type": "color",
           "label": "Backgroung Color",
           "id": "bg_color",
           "default":"#000000"
        },
        {
         "type": "color",
           "label": "Text Color",
           "id": "text_color",
           "default":"#ffffff"
        }
    ],
    "presets": [
      {
       "name": "Forme Rich Text"
      }
    ]
    
  }
{% endschema %}















