<style>
  
.id_{{ section.id}}{
    background-color:#ffffff;
    padding:60px 0px;
}
  
.id_{{ section.id}} .container{
      max-width:1200px;
      width:100%;
      margin:0px auto;
}
 .id_{{ section.id }} .title{
    font-size: 40px;
    line-height: 130%;
    font-weight: 700;
   color: #24272A;
    margin: 0px 0px 10px 0px;
    text-align: center;
} 
  .id_{{ section.id }} p{
    margin:0px;
  }
   .id_{{ section.id }} .des{
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    color: #0A0000;
    margin: 0px 0px 20px 0px;
    text-align: center;
} 
  

.id_{{ section.id}} .table_main{
    max-width:900px;
    width:100%;
   margin:0px auto;
  }
  
.id_{{ section.id}} .table_main .table_header{
     display: flex;
     border: solid #e7e7eb;
     border-width: 0px 0px 1px 0px;
     padding-bottom: 10px;
  }
  
.id_{{ section.id}} .table_header h3{
    font-size:20px;
    line-height:140%;
    font-weight:600;
    margin:0px;
    text-align: center;
    color:#000000;  
}
  
.id_{{ section.id}} .table_body h3{
    font-size:18px;
    line-height:140%;
    font-weight:600;
    margin:0px;
    color:#000000;  
}
  
.id_{{ section.id}} .table_main .column1{
     max-width: 40%;
     width: 100%;
     box-sizing: border-box;
}    
  
.id_{{ section.id}} .table_header .column2, 
.id_{{ section.id}} .table_header .column3{
       max-width: 30%;
       width: 100%;
       box-sizing: border-box;
}

.id_{{ section.id}} .table_body .table_row{
       display: flex;
       align-items: center;
       padding: 5px 0px;
      border: solid #e7e7eb;
      border-width: 0px 0px 1px 0px;
}
  
.id_{{ section.id}} .table_body .table_row .col_1{
       max-width: 40%;
      width: 100%;
      box-sizing: border-box;
}
  
.id_{{ section.id}} .table_body .table_row .col_2{
       max-width: 30%;
      width: 100%;
      box-sizing: border-box;
}
.id_{{ section.id}} .table_body .check, 
.id_{{ section.id}} .table_body .uncheck{
     display: flex;
     justify-content: center;
     align-items: center;
}

.id_{{ section.id}} .table_body  .check svg, 
.id_{{ section.id}} .table_body  .uncheck svg{
    box-sizing: border-box;
    width: 20px;
    height:20px;
    aspect-ratio: 1/1;
    display: inline-block;
  margin:0px auto;
}
.id_{{ section.id}} .table_body  .check svg{
    fill: #ec7e8b;
}
.id_{{ section.id}}  .table_body  .uncheck svg{
   fill: #858487;
}

@media(max-width:767px){
  
.id_{{ section.id}}{
   padding:40px 20px;
}
.id_{{ section.id}} .container{
   max-width:100%;
}
   .id_{{ section.id }} .title{
    font-size: 30px;
} 
.id_{{ section.id }} .des{
    font-size: 16px;
} 
.id_{{ section.id}} .table_main .column1,
.id_{{ section.id}} .table_body .table_row .col_1{
    max-width: 50%;
}    
  
.id_{{ section.id}} .table_header .column2, 
.id_{{ section.id}} .table_header .column3,
.id_{{ section.id}} .table_body .table_row .col_2{
    max-width: 25%;
}
  
.id_{{ section.id}} .table_body .table_row{
     padding: 5px 0px;
  }
.id_{{ section.id}} .table_header h3{
    font-size:18px;
}
  
.id_{{ section.id}} .table_body h3{
    font-size:16px;
}

  }
</style>

<section class="id_{{ section.id }}">
  <div class="container">
        {% for block in section.blocks %}

          {% case block.type %}
                {% when 'title' %}
                <h3 class="title">{{ block.settings.title }}</h3>
              {% when 'richtext' %}
              <div class="des">{{ block.settings.text }}</div>
                      
             {% when 'table_header' %}

               <div class="table_main ">
                 <div class="table_header">
                    <div class="column1">

                      <h3>{{ block.settings.title_1 }}</h3>
                   </div>
                   <div class="column2">

                      <h3>{{ block.settings.title_2 }}</h3>
                   </div>
                   <div class="column3">
                      <h3>{{ block.settings.title_3 }}</h3>
                   </div>

                </div>

                 <div class="table_body">
                   {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'table_list' %}

                   <div class="table_row">
                        <div class="col_1"><h3>{{ block.settings.text }}</h3></div>
                        <div class="col_2">
                        {% if block.settings.icon_colum_1 == "check" %}
                          <div class="check">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" viewBox="0 0 490.05 490.05" xml:space="preserve" style="&#10;">  <g> <g> 
                               <path d="M418.275,418.275c95.7-95.7,95.7-250.8,0-346.5s-250.8-95.7-346.5,0s-95.7,250.8,0,346.5S322.675,513.975,418.275,418.275    z M157.175,207.575l55.1,55.1l120.7-120.6l42.7,42.7l-120.6,120.6l-42.8,42.7l-42.7-42.7l-55.1-55.1L157.175,207.575z" /> </g> </g>
                            </svg>
                         </div>
                        {% elsif  block.settings.icon_colum_1 == "uncheck" %}
                        <div class="uncheck">
                           <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 60 60">
                                <defs><style>.cls-1 { fill-rule: evenodd; } </style></defs>
                                <path class="cls-1" d="M940,510a30,30,0,1,1,30-30A30,30,0,0,1,940,510Zm15-20.047A3.408,3.408,0,0,1,955,494.77l-0.221.22a3.42,3.42,0,0,1-4.833,0l-8.764-8.755a1.71,1.71,0,0,0-2.417,0l-8.741,8.747a3.419,3.419,0,0,1-4.836,0l-0.194-.193a3.408,3.408,0,0,1,.017-4.842l8.834-8.735a1.7,1.7,0,0,0,0-2.43l-8.831-8.725a3.409,3.409,0,0,1-.018-4.844l0.193-.193a3.413,3.413,0,0,1,2.418-1c0.944,0,3.255,1.835,3.872,2.455l7.286,7.287a1.708,1.708,0,0,0,2.417,0l8.764-8.748a3.419,3.419,0,0,1,4.832,0L955,465.243a3.408,3.408,0,0,1,0,4.818l-8.727,8.737a1.7,1.7,0,0,0,0,2.407Z" id="uncheck" transform="translate(-910 -450)"/>
                          </svg>
                        </div>
                      {% endif %} 
                     </div>
                    <div class="col_2">
                        {% if block.settings.icon_colum_2 == "check" %}
                          <div class="check">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" viewBox="0 0 490.05 490.05" xml:space="preserve" style="&#10;">  <g> <g> 
                               <path d="M418.275,418.275c95.7-95.7,95.7-250.8,0-346.5s-250.8-95.7-346.5,0s-95.7,250.8,0,346.5S322.675,513.975,418.275,418.275    z M157.175,207.575l55.1,55.1l120.7-120.6l42.7,42.7l-120.6,120.6l-42.8,42.7l-42.7-42.7l-55.1-55.1L157.175,207.575z" /> </g> </g>
                            </svg>
                         </div>
                        {% elsif  block.settings.icon_colum_2 == "uncheck" %}
                        <div class="uncheck">
                           <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 60 60">
                                <defs><style>.cls-1 { fill-rule: evenodd; } </style></defs>
                                <path class="cls-1" d="M940,510a30,30,0,1,1,30-30A30,30,0,0,1,940,510Zm15-20.047A3.408,3.408,0,0,1,955,494.77l-0.221.22a3.42,3.42,0,0,1-4.833,0l-8.764-8.755a1.71,1.71,0,0,0-2.417,0l-8.741,8.747a3.419,3.419,0,0,1-4.836,0l-0.194-.193a3.408,3.408,0,0,1,.017-4.842l8.834-8.735a1.7,1.7,0,0,0,0-2.43l-8.831-8.725a3.409,3.409,0,0,1-.018-4.844l0.193-.193a3.413,3.413,0,0,1,2.418-1c0.944,0,3.255,1.835,3.872,2.455l7.286,7.287a1.708,1.708,0,0,0,2.417,0l8.764-8.748a3.419,3.419,0,0,1,4.832,0L955,465.243a3.408,3.408,0,0,1,0,4.818l-8.727,8.737a1.7,1.7,0,0,0,0,2.407Z" id="uncheck" transform="translate(-910 -450)"/>
                          </svg>
                        </div>
                      {% endif %} 
                     </div>
                   </div>

                   
               
          {% endcase %}
      {% endfor %} 
                   </div>
              </div>

          {% endcase %}
      {% endfor %} 
    
  </div>
</section>


{% schema %}
  {
    "name": "Forme Table",
    "settings": [],
    
    "blocks": [ 
      {
        "type": "table_list",
        "name":"Table List",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "icon_colum_1",
            "label": "Column 1 Icon",
            "default": "check",
            "options": [
              {
                "label": "Check",
                "value": "check"
              },
              {
                "label": "Uncheck",
                "value": "uncheck"
              }
            ]
          },
          {
            "type": "select",
            "id": "icon_colum_2",
            "label": "Column 2 Icon",
            "default": "uncheck",
            "options": [
              {
                "label": "Check",
                "value": "check"
              },
              {
                "label": "Uncheck",
                "value": "uncheck"
              }
            ]
          }
        ]
      },
      {
        "type": "table_header",
        "name": "Table Header",
        "limit": 1,
        "settings": [
          {
           "type": "header",
           "content": "Header Column 1"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Title 1"
          },
          {
           "type": "header",
           "content": "Header Column 2"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Title 2"
          },
          {
           "type": "header",
           "content": "Header Column 3"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Title 3"
          }
        ]
      },
      {
  "type": "title",
  "name": "Title",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default":"The ShopLandingAI Solution"
    }
  ]
},
{
  "type": "richtext",
  "name":"Rich Text",
  "settings": [
    {
      "type": "richtext",
      "label": "Content",
      "id": "text"
    }
  ]
}

    ],
    "presets": [
      {
        "name": "Forme Table"
      }
    ]
  }
{% endschema %}